In [2]:
#Note before you get started that the version of python is as per our 
#installation instructions. You may face issues otherwise

#example 1.1 : Print a simple text ("hello World") and comments in python

print("Hello World!")

# print("Apple")
# Note "#" is used for commenting in python
# Try printing Apple by uncommenting the print statement above

Hello World

In [6]:
#Example 2: Variables 


#Variables are nothing but reserved memory locations to store values
#We do not require explicit declarations within python
#The equal sign (=) is used to assign values to variables.

#Example 2.1 : Variable Assignment 
counter = 100          # An integer assignment
amount  = 1000.1       # A floating point 
subject    = "Economics"       # A string

print(counter)
print(amount)
print(subject)

100
1000.1
Economics

In [1]:
#Example 2.2: Assign a value of 10 to a variable 'ap'. Print the vaue of 'ap'
ap = 10
print(ap)
#change the value of ap to 30. Print the value of 'ap'
ap = 30
print(ap)

10
30

In [14]:
#Example 2.3: Assign a value of 10 to a variable 'ap'. Print the vaue of 'ap'
ap = 10
print(ap)
#change the value of 'ap' to a string value of apple. Print the value of 'ap'
#think - can the same variable hold different data types? will this give an error?
ap = "apple"
print(ap)
# More on data types later

10
apple

In [16]:
#Example 2.4 : Multiple Assignment 
# Python allows you to assign a single value to several variables simultaneously

#Assign the value of 5 to variables a,b,c simultaneously 
a = b = c = 5

#Print the value of all variables
print(a)
print(b)
print(c)

5
5
5

In [23]:
#Example 3: Data Types
# Python has five standard data types
# Numbers, Strings, List, Tuple , Dictonary 


#Example 3.1: String Type 
strExmp = 'Hello World!'
all = "string concatenation example"

# Print complete string (strExmp)
print(strExmp) 
# Print first character of the string
print(strExmp[0])  
 # Print characters starting from 3rd to 5th
print(strExmp[2:5]) 
# Print string three times
print(strExmp * 3)   
# Print concatenated string
print(strExmp + "How are you") 
# print the concatenated two string variables (strExmp and all)
print(strExmp + all)

Hello World!
H
llo
Hello World!Hello World!Hello World!
Hello World!How are you
Hello World!string concatenation example

In [30]:
#Example 3.2: List Type 

exmList1 = [ 'Apple', 4 , 4.0, 'Orange', 77, 82 ]
exmpList2 = [100, 'Mango',100]

# Print complete list exmList1
print(exmList1)   
# Print first element of the list
print(exmList1[0]) 
#Print elements starting from 2nd till 3rd 
print(exmList1[1:3])    
# Print elements starting from 3rd element
print(exmList1[2:])   
# Prints list two times (exmpList2)
print(exmpList2 * 2) 
# Print concatenated lists (exmList1 and exmpList2)
print(exmList1 + exmpList2)

#update exmList1 1st value to 'Cat' and print it
exmList1[0] = 'Cat'
print(exmList1)

#Add a new value - 'Cool' to exmpList2 and print it
exmpList2.append('Cool')
print(exmpList2)

#remove the value 1 from exmpList2
exmpList2.remove(100)
print(exmpList2)
#Note the first occurance of the value is removed and not all 


#Try playing around with other list functions : sort, reverse, index , counts

['Apple', 4, 4.0, 'Orange', 77, 82]
Apple
[4, 4.0]
[4.0, 'Orange', 77, 82]
[100, 'Mango', 100, 100, 'Mango', 100]
['Apple', 4, 4.0, 'Orange', 77, 82, 100, 'Mango', 100]
['Cat', 4, 4.0, 'Orange', 77, 82]
[100, 'Mango', 100, 'Cool']
['Mango', 100, 'Cool']

In [31]:
#Example 3.3 : Tuple Type 
#Tuples can be thought of as read-only lists. i.e. They cannot be updated

tupleExmp = ( 'Apple', 4 , 4.0, 'Orange', 77, 82 )
tupleExmp2 = (100, 'Mango',100)

# Print complete list (tupleExmp)
print(tupleExmp) 
# Print first element of the list
print(tupleExmp[0])  
 # Print elements starting from 2nd till 3rd 
print(tupleExmp[1:3])     
 # Print elements starting from 3rd element
print(tupleExmp[2:]) 
# Print list two times (tupleExmp2)
print(tupleExmp2 * 2)  
# Print concatenated lists (tupleExmp2, tupleExmp)
print(tupleExmp + tupleExmp2) 

# Trying updating a tuple and see if you get an error

('Apple', 4, 4.0, 'Orange', 77, 82)
Apple
(4, 4.0)
(4.0, 'Orange', 77, 82)
(100, 'Mango', 100, 100, 'Mango', 100)
('Apple', 4, 4.0, 'Orange', 77, 82, 100, 'Mango', 100)

In [5]:
# Example 3.4 : Dictonary Type 
dictExp = {}
dictExp['one'] = "This is one"
dictExp[2]     = "This is two"

dictExp2 = {'name': 'john','code':6734, 'dept': 'sales'}

#Print the value for the key 'one' in dictExp
print(dictExp['one'])  
#Print the value for the key 2 in dict
print(dictExp[2])    
# Print complete dictionary - dictExp2
print(dictExp2)
# Print all the keys for dictExp2
print(dictExp2.keys())  
# Print all the values for dictExp2
print(dictExp2.values())

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [47]:
#Example 4 : Arithmetic Operations 
a = 10
b = 20

#Example 4.1 : Addition
print("a+b :",a+b)

#Example 4.2: Subtraction
print("a-b :",a-b)

#Example 4.3: Multiplication
print("a*b :",a*b)

#Example 4.4 : Division
print("a/b :",a/b)

#Example 4.5 : Modulus
print("a%b :", a%b)

#Example 4.6 : Exponent
print("2 to the power 4 :" ,2**4)

a+b : 30
a-b : -10
a*b : 200
a/b : 0.5
a%b : 10
2 to the power 4 : 16

In [45]:
#Example 5 : Comparision Operators
a = 10
b = 20
c = 10

#Example 5.1 : ==
print("a==b : ", a==b)
print("a==c :",a==c) 

#Example 5.2: !=
print("a!=b :",a!=b)
print("a!=c :", a!=c)

#Example 5.3 : Greater than, less than, greather than equal to
print("a>c :", (a>c))
print("a>=c :", a>=c)
print("a<b :", a<b)

a==b False
a==c True
a!=b True
a!=c False
a>c False
a>=c True
a<b True